<!DOCTYPE html>
<html>
<head>
  <title>TestedBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>




<% if user_signed_in? %>
  <p class="navbar-text">
  Signed in as <%= "#{current_user.email}" %>
  </p>
<% end %>

<% flash.each do |key, message| %>
  <div>
    <%= message %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
